{:jvm-opts ["-Xmx1000m" "-Xmx1000m"]
 :lein {:profile "+cljs"}
 :builds {:app
          {:output-dir "resources/public/js/compiled"
           :asset-path "/js/compiled"
           :target :browser
           :modules {:main {:entries [scramble-service.core]}}
           :devtools {:autoload true
                      :after-load scramble-service.core/mount-root}}}}